#backtop {
  padding: 7px 12px 5px;
  position: fixed;
  bottom: -70px;
  right: 20px;
  border-radius: 50%;
  background-color: #CF6F49;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
  scroll-behavior: smooth;
  visibility: hidden;
}

#backtop a {
  display: block;
  padding: 8px;
}

#backtop.backtop-show {
  bottom: 50px;
}