@media screen and (max-width: 1285.6px) {
  .home-left-img2 {
    display: none;
  }
  .home-left form img {
    display: none;
  }
}
@media screen and (max-width: 1079px) {
  #home {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  #home .home-left {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  .home-left-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .home-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }
}
@media screen and (max-width: 752px) {
  .home-bottom-logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .how-it-works-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    text-align: center;
  }
}
@media screen and (max-width: 531px) {
  .how-it-works-cards {
    grid-template-columns: 1fr;
    gap: 32px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .home-left-img1 {
    width: 100px;
  }
  .home-left {
    padding-top: 100px;
  }
  .home-left-p1 {
    font-size: small;
  }
}
@media (max-width: 350px) {
  .home-left-img1 {
    width: 120px;
  }
  .home-left {
    padding-top: 120px;
  }
}
@media (max-width: 400px) {
  .home-left-img1 {
    width: 150px;
  }
}
@media (max-width: 1220px) {
  .comfort {
    gap: 40px;
  }
}
@media (max-width: 1183px) {
  .comfort {
    gap: 10px;
  }
}
@media (max-width: 1000px) {
  .comfort {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .comfort-left {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .comfort-left-p1 {
    margin-left: auto;
    margin-right: auto;
  }
  .comfort-left-h3 {
    max-width: 703px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .comfort-left-p2 {
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .comfort-left-explore {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .comfort {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .comfort-left {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .comfort-left-p1 {
    margin-left: auto;
    margin-right: auto;
  }
  .comfort-left-h3 {
    max-width: 360px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .comfort-left-p2 {
    padding: 20px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .comfort-left-explore {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 390px) {
  .comfort-left-explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1000px) {
  .quick-easy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .quick-easy-right {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .quick-easy-right-p1 {
    margin-left: auto;
    margin-right: auto;
  }
  .quick-easy-right-h3 {
    max-width: 703px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .quick-easy-right-cards {
    padding: 0px 40px 20px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quick-easy-right-cards-item {
    max-width: 288px;
    height: 180px;
    border-radius: 16px;
    border: 1px solid #e7e8e3;
    background: #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  }
  .quick-easy-right-cards-item-icon {
    margin: 20px 0px -10px 0px;
  }
  .quick-easy-right-cards-item-p1 {
    margin: -15px 10px 10px 10px;
  }
  .quick-easy-right-cards-item-p2 {
    margin: -15px 10px 5px 10px;
  }
  .quick-easy-right-p2 {
    padding: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .quick-easy-right-explore {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 676px) {
  .quick-easy-right-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .quick-easy-right-explore {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 390px) {
  .quick-easy-right-h3 {
    margin: 10px -30px 10px -30px;
  }
  .quick-easy-right-cards-item {
    height: 240px;
    max-width: 300px;
    margin: 10px -20px 20px -20px;
  }
}
@media (max-width: 320px) {
  .quick-easy-right-cards-item {
    height: 250px;
    max-width: 320px;
    margin: 10px -30px 20px -30px;
  }
}
@media (max-width: 1300px) {
  .properties-body-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 887px) {
  .properties-body-cards {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .properties-body-cards {
    gap: 15px;
  }
  .properties-body-cards-item-img {
    width: 100%;
    height: 260px;
  }
  .properties-body-cards-item-text {
    padding: 0px 0px 0px 24px;
  }
  .properties-body-cards-item-text-h4 {
    padding-top: 24px;
  }
  .properties-body-cards-item-text-img1 {
    width: 100%;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 390px) {
  .properties-body-text-h3 {
    margin-right: -15px;
    margin-left: -15px;
  }
  .properties-body-cards-item-text {
    padding: 0px 0px 0px 10px;
  }
  .properties-body-cards-item-text-h4 {
    padding-top: 10px;
  }
  .properties-body-cards-item-text-img1 {
    padding-bottom: 10px;
  }
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 437px) {
  .properties-explore {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}