.quick-easy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 128px;
}
.quick-easy-right {
  display: grid;
}
.quick-easy-right-p1 {
  max-width: 127px;
  padding: 8px 12px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #2a2c1f;
  border-radius: 32px;
  background: #e7e8e3;
}
.quick-easy-right-h3 {
  padding: 25px 115px 29px 0px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: #2a2c1f;
}
.quick-easy-right-p2 {
  padding: 0px 0px 28px 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #65665c;
}
.quick-easy-right-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding-bottom: 24px;
}
.quick-easy-right-cards-item-icon {
  padding: 8px;
  color: #cf6f49;
  font-family: "Material Icons";
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  border-radius: 8px;
  background: #fae8e1;
}
.quick-easy-right-cards-item-h4 {
  padding: 16px 0px 18px 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: #2a2c1f;
  line-height: 28px;
}
.quick-easy-right-cards-item-p1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #65665c;
  line-height: 24px;
}
.quick-easy-right-cards-item-p2 {
  padding-bottom: 21px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  color: #65665c;
  line-height: 24px;
}
.quick-easy-right-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quick-easy-right-explore-btn {
  padding: 13px 25px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2a2c1f;
  border-radius: 6px;
  border: 1px solid #e7e8e3;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
.quick-easy-right-explore-link {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #2a2c1f;
}
.quick-easy-left img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}