@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scroll-behavior: auto;
}

*button {
  border: none;
  cursor: pointer;
}

*a {
  text-decoration: none;
  cursor: pointer;
}

*li {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
