@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  transition: all 0.7s;
}

*button {
  border: none;
  cursor: pointer;
}

*a {
  text-decoration: none;
  cursor: pointer;
}

*li {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.dark {
  nav {
    background: #929778;
    color: #fff;
  }
  header {
    background: #929778;
  }
  .menubar {
    background: #929778;
  }
  .home {
    background: #929778;
  }
  .home-bottom {
    background: #929778;
  }
  .how-it-works {
    background: #929778;
  }
  .how-it-works-cards-item {
    background: #929778;
    .how-it-works-cards-item-h4,
    .how-it-works-cards-item-p {
      color: #fff;
    }
  }
  .properties,
  .contact,
  .customers,
  .blog,
  .comfort,
  .quick-easy,
  .footer {
    background: #929778;
  }
  .quick-easy-right-cards-item {
    background: #929778;
    .quick-easy-right-cards-item-h4,
    .quick-easy-right-cards-item-p1,
    .quick-easy-right-cards-item-p2 {
      color: #fff;
    }
  }
  .quick-easy-right-explore-btn {
    background: #929778;
    color: #fff;
  }
  .quick-easy-right-explore-link {
    color: #fff;
  }
  .home-left-p2,
  .home-left h1,
  .home-bottom-desc,
  .how-it-works-theme-h2,
  .how-it-works-theme-p,
  .comfort-left-p2,
  .comfort-left-h3,
  .comfort-left-explore-link,
  .quick-easy-right-p2,
  .quick-easy-right-h3,
  .properties-body-text-h3,
  .properties-explore-link,
  .properties-body-cards-item-text-h4,
  .properties-body-cards-item-text-h6,
  .properties-body-cards-item-text-location p,
  .contact--body-text h4,
  .contact--body-text p,
  .contact--body-cards-item h5,
  .contact--body-cards-item a,
  .contact-explore-link,
  .customers--text h4,
  .customers--text p,
  .blog--body-top .text-p2,
  .blog--body-top .text-h4,
  .blog--body-cards-item .text-li-1-p2,
  .blog--body-cards-item .text-li-2 h4,
  .blog--body-cards-item .text-li-3,
  .blog--body-cards-item .text-li-4 a,
  .footer-body-links li ul h5,
  .footer-body-links li ul li,
  .footer-body-links li ul li a,
  .forms-subscribe h5,
  .forms-subscribe p {
    color: #fff;
  }
  .comfort-left-explore-btn,
  .properties-explore-btn,
  .properties-body-cards-item-text,
  .contact--body-cards-item,
  .contact-explore-btn,
  .blog--body-top .btn,
  .blog--body-cards-item .text {
    background: #929778;
    color: #fff;
  }
  .foooter {
    background-color: #929778;
    p {
      color: #fff;
    }
  }
  main {
    background: #929778;
  }
}
