#backtop {
  padding: 2px 3px 2px 3px;
  position: fixed;
  bottom: -60px;
  right: 40px;
  border-radius: 50%;
  background-color: #cf6f49;
  z-index: 100;
  transition: 0.7s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

#backtop:hover {
  border: 5px solid #cf6f49;
  background: white;
}

#backtop a {
  display: block;
  padding: 10px;
}

#backtop.backtop-show {
  bottom: 25px;
}
@media (max-width: 500px) {
  #backtop {
    right: 25px;
    padding: 0px;
    padding-bottom: 2px 1px 0px 1px;
  }
}
