#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  opacity: 1;
  transition: 1s;
}

#loading.loading-none {
  z-index: -1;
  opacity: 0;
}

@keyframes ldio-akmie3iqlx6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-akmie3iqlx6 > div > div {
  transform-origin: 100px 100px;
  animation: ldio-akmie3iqlx6 3.0303030303030303s linear infinite;
  animation-duration: 5s;
  opacity: 0.8;
}
.ldio-akmie3iqlx6 > div > div > div {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border-radius: 70px 0 0 0;
  transform-origin: 100px 100px;
}
.ldio-akmie3iqlx6 > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s;
}
.ldio-akmie3iqlx6 > div div:nth-child(1) > div {
  background: #e15b64;
  transform: rotate(0deg);
}
.ldio-akmie3iqlx6 > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s;
}
.ldio-akmie3iqlx6 > div div:nth-child(2) > div {
  background: #f47e60;
  transform: rotate(0deg);
}
.ldio-akmie3iqlx6 > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s;
}
.ldio-akmie3iqlx6 > div div:nth-child(3) > div {
  background: #f8b26a;
  transform: rotate(0deg);
}
.ldio-akmie3iqlx6 > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s;
}
.ldio-akmie3iqlx6 > div div:nth-child(4) > div {
  background: #abbd81;
  transform: rotate(0deg);
}
.loadingio-spinner-wedges-ibhz9d0moo {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-akmie3iqlx6 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; 
}
.ldio-akmie3iqlx6 div {
  box-sizing: content-box;
}


.home {
  display: grid;
  grid-template-columns: 50% 50%;
  word-wrap: break-word;
  background: #f5f5f2;
  &-left {
    padding: 160px 0px;
    &-img1 {
      max-width: 350px;
      position: absolute;
      top: 128px;
      left: -20px;
      rotate: 180deg;
    }
    &-p1 {
      max-width: 171px;
      display: block;
      font-family: Roboto;
      padding: 4px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #2a2c1f;
      border-radius: 32px;
      background: #e7e8e3;
    }
    &-h1 {
      max-width: 516px;
      padding: 20px 0px;
      font-family: Roboto;
      font-size: 56px;
      font-weight: 400;
      line-height: 67.2px;
      color: #2a2c1f;
    }
    &-p2 {
      max-width: 503px;
      padding-bottom: 20px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #65665c;
    }
    &-form {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    &-search {
      &::placeholder {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        color: #65665c;
      }
      padding: 16px 20px;
      border-radius: 6px;
      border: 1px solid #e7e8e3;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    }
    &-btn {
      margin-right: 16px;
      padding: 9px 18px;
      font-family: Roboto;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      color: #fff;
      border-radius: 6px;
      border: 1px solid #cf6f49;
      background: #cf6f49;
      transition: all 0.6s;
    }
    &-btn:hover {
      background-color: #fff;
      color: #cf6f49;
    }
  }
  &-right {
    max-inline-size: 100%;
    block-size: auto;
  }
}
.home-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 67px 0px 125px 0px;
  &-desc {
    width: 100%;
    max-width: 243px;
    padding-left: 20px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #2a2c1f;
  }
  &-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
}
