@media screen and (max-width: 1285.6px) {
  .home-left-img2 {
    display: none;
  }
  .home-left form img {
    display: none;
  }
}
@media screen and (max-width: 1079px) {
  #home {
    display: grid;
    grid-template-columns: 1fr;

    text-align: center;
    .home-left {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 500px) {
  .home-left {
    &-form {
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and (max-width: 1000px) {
  .home-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}
@media screen and (max-width: 752px) {
  .home-bottom-logos {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 850px) {
  .how-it-works {
    &-cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 531px) {
  .how-it-works {
    &-cards {
      grid-template-columns: 1fr;
      gap: 32px;
      text-align: center;
    }
  }
}
